:root{
    --color_header:#08f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    max-width: 1480px;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar{
    display: none;
  }
nav{
    width: 100%;
    padding: .7rem 0;
    background: #fff;
    display: block;

}
nav img{
    height: 2rem;
    padding-left: 3.5em;
}
nav a{
    margin-left: 6rem;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}
nav a span{
    color: var(--color_header);
}
.nav--link{
    text-decoration: none;
    float: right;
    padding: .2rem .5rem;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
    font-size: 1.1rem;
}
.nav--link:hover{
    color: var(--color_header);
    transition: .25s;
}
.header{
    width: 100%;
    display: flex;
    padding: 4rem 2rem 0;
    gap: 5em;
    font-size: 2rem;
    color: #fff;
}
.header img{
    width: 40%;
}
.header h1{
    padding: 5rem 0 0;
}
.header_relleno{
    width: 100%;
    height: 19rem;
    position: absolute;
    top: 0;
    z-index: -1;
    background: var(--color_header);
}
.header_ola{
    position: absolute;
    width: 100%;
    top: 19rem;
    z-index: -1;
}
.section{
    display: flex;
    width: 100%;
    margin: 8rem 0 0;
    padding: 0 3rem;
    flex-direction: row;

}
.section img {
    width: 34%;
}
.section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 3rem;
}
.heading-2{
    font-size: 1.8rem;
    margin: 0 0 1rem;
}
.text{
    font-size: 1.2rem;
    text-align: justify;
}
.section--reverse{
    flex-direction: row-reverse;
}
.section--reverse div{
    margin: 0 3rem 0 0;
}
.section--center{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: var(--color_header);
    margin: 1rem 0 0;
    text-align: center;
    color: #fff;
    padding: 2rem 10rem ;
}

.section--center img{
    width: 60%;
}
footer{
    display: flex;
    padding: 1rem 0 .5rem;
    justify-content: center;
    width: 100%;
    background: #000;
    gap: 1rem;
}
footer span{
    height: 2.5rem;
    width:2.7rem;
    color: #fff;
}
footer span i{
    margin-top: .25rem;
    font-size: 2rem;
}






